body {
  background-color: hsla(120, 100%, 50%, 0.3);
}
h1 {
  color: #ffa500;
  text-align: center;
  font-family: American Typewriter, Tahoma, Impact;
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;

}